.header_wrap {
    position: relative;
    height: 55px;
}
.header_wrap .header_con.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    -webkit-animation: bounceInDown 0.8s;
    -moz-animation: bounceInDown 0.8s;
    -ms-animation: bounceInDown 0.8s;
    -o-animation: bounceInDown 0.8s;
    animation: bounceInDown 0.8s;
}
.header_wrap .header_bg {
    height: 55px;
    background: url("../img/nav/head_bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: 4;
}
.area{
    width: 1200px;
    margin: 0 auto;
}
.header_wrap .header_f_nav {
    width: 100px;
    height: 55px;
    float: left;
    font: 16px/55px "Microsoft Yahei", "Hiragino Sans GB", "sans-serif";
    color: #ffffff;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.header_wrap .header_f_nav a{
    display: block;
    font: 16px/55px "Microsoft Yahei", "Hiragino Sans GB", "sans-serif";
    color: #ffffff;
    text-align: center;
}
.header_wrap .header_f_nav.select a, .header_wrap .header_f_nav:hover a {
    font-weight: bold;
    text-align: center;
}
.header_wrap .header_f_nav.select, .header_wrap .header_f_nav:hover {
    background: url("../img/icons.png") -200px 0px no-repeat;
}
.header_wrap .head_sub_con {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0px;
    /*top: -515px;*/
    right: 0px;
}
.header_wrap .header_sub_nav {
    width: 100%;
    background: url("../img/nav/header_sub_nav.png") no-repeat center;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.header_wrap .header_nav_txt {
    padding: 26px 0px;
}
.header_wrap .header_nav_txt li {
    display: inline-block;
    float: left;
    overflow: hidden;
    margin-right: 50px;
}
.header_wrap .header_nav_txt li a {
    font: 16px/28px "Microsoft Yahei", "Hiragino Sans GB", "sans-serif";
    color: #ffffff;
    display: inline-block;
}
.header_wrap .header_nav_txt li:hover a {
    text-decoration: underline;
}
.header_wrap .header_icon {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -920px;
    width: 234px;
    height: 84px;
    background: url("../img/nav/header_icon.png") no-repeat;
    z-index: 999;
}
.header_wrap .germany_index {
    display: block;
    width: 127px;
    height: 25px;
    background: url("../img/icons.png") -900px -400px no-repeat;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 5;
}
.header_wrap .germany_index:hover{
    background-position: -900px -450px;
}